<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <p>First number is: {{ first }}</p>
        <p>Second number is: {{ second }}</p>
        <p>Addition: {{ sum }}</p>
        <p>Substraction: {{ sub }}</p>
        <p>multiplication: {{ mul }}</p>
        <p>Division: {{ div }}</p>
    </body>
</html>